In [1]:
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

Using the latest cached version of the dataset since lukebarousse/data_jobs couldn't be found on the Hugging Face Hub
Found the latest cached dataset configuration 'default' at C:\Users\Akshat\.cache\huggingface\datasets\lukebarousse___data_jobs\default\0.0.0\1d815e9ce232eb27db11939c44eb048fe6d2e9ab (last modified on Sat Sep 21 12:44:48 2024).

In [2]:
df.loc[:10,'salary_year_avg':'salary_hour_avg']

    salary_year_avg  salary_hour_avg
0               NaN              NaN
1               NaN              NaN
2               NaN              NaN
3               NaN              NaN
4               NaN              NaN
5               NaN              NaN
6               NaN              NaN
7               NaN              NaN
8               NaN              NaN
9               NaN              NaN
10              NaN              NaN

In [9]:
median_year_salary = df['salary_year_avg'].median()

In [7]:
median_hour_salary = df['salary_hour_avg'].median()

In [12]:
df_filled = df
df_filled['salary_year_avg'] = df_filled['salary_year_avg'].fillna(median_year_salary)
df_filled['salary_hour_avg'] = df_filled['salary_hour_avg'].fillna(median_hour_salary)

In [15]:
df_unique = df_filled
df_unique = df_unique.drop_duplicates()
print('length of original df',len(df_filled))
print('length of drop dupicate df',len(df_unique))
print('length of original df',len(df_filled)-len(df_unique))

length of original df 785741
length of drop dupicate df 785640
length of original df 101

In [16]:
df_unique = df_unique.drop_duplicates(subset=['job_title','company_name'])
print('length of original df',len(df_filled))
print('length of drop dupicate df',len(df_unique))
print('length of original df',len(df_filled)-len(df_unique))

length of original df 785741
length of drop dupicate df 508042
length of original df 277699